<br>
<div class="services-section" data-aos="fade-up">
  <div class="services-section-bg-graphics">
    <img src="assets\images\services-section-bg.png">
  </div>

  <div class="container services-container">
    <div class="col-lg-5 services-title-section">
      <p class="services-subtitle">Mis conocimientos</p>
      <h2 class="services-title">Resolución de Problemas en:</h2>
        <p class="accordion">PHP/LARAVEL/MYSQL</p>
        <p class="accordion">MONGO DB/ GRAPH QL/GIT HUB /DOCKER</p>
        <p class="accordion">JAVASCRIPT/ANGULAR/NODE/REACT/ JQUERY</p>
        <p class="accordion">MATERIALIZE CSS/BOOTSTRAP/METERIAL DESING</p>
        <p class="accordion">C#/ASP .NET/ MVC ENTITY FRAMEWORK / FLUTTER</p>
        <p class="accordion">ADMINISTRACION ZIMBRA, DLP MCAFEE/MASS 360</p>
        <p class="accordion">Actualmente aprendiendo Kubernets, Kafka,Rabbit MQ, NEXT y NEST JS</p>
    </div>
    <div class="col-lg-6 offset-lg-1 services-header-img-section">
      <img src="assets\images\services-header.png">
    </div>
  </div>
</div>
<app-otros-proyectos></app-otros-proyectos>
