<div class="strategy-section" data-aos="fade-right">
  <div class="strategy-section-bg-graphics-section">
    <img src="assets\images\strategy-section-bg.png">
  </div>
  <div class="container strategy-container">
    <div class="col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section">
      <div class="strategy-card">
        <div class="strategy-card-icon-section">
          <img src="assets\images\strategy-1.png">
        </div>
        <h2>Estrategias</h2>
        <p>En base a los requerimientos obtenido se aplicaran las mejores practicas para un buen desarrollo de software.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section">
      <div class="strategy-card">
        <div class="strategy-card-icon-section">
          <img src="assets\images\strategy-2.png">
        </div>
        <h2>Automatización</h2>
        <p>Reutilizar codigo eliminando el codigo spagueti, realizar mejoras y buenas practicas.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section">
      <div class="strategy-card">
        <div class="strategy-card-icon-section">
          <img src="assets\images\strategy-3.png">
        </div>
        <h2>Despliegue</h2>
        <p>Dedicar el tiempo necesario para el despliegue a producción de los sistemas que tengamos a disposición.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-8 offset-xs-2 strategy-card-section">
      <div class="strategy-card">
        <div class="strategy-card-icon-section">
          <img src="assets\images\strategy-4.png">
        </div>
        <h2>Educación</h2>
        <p>Constante aprendizaje de las nuevas tecnologias que cada dia surgen.</p>
      </div>
    </div>
  </div>
</div>
