<div class="blog-section" data-aos="fade-up"  data-aos-duration="4000">
  <div class="blog-section-right-bg">
    <img src="assets\images\blog-section-right-bg.png">
  </div>
  <div class="blog-section-left-bg">
    <img src="assets\images\blog-section-left-bg.png">
  </div>
  <div class="container blog-container">
    <div class="blog-title-section" >
      <p class="blog-subtitle">Otros proyectos</p>
      <h2 class="blog-title">Ministerio de Gobernación</h2>
    </div>
    <div class="blog-posts-section">
      <div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
        <div class="blog-post-card">
          <div class="blog-post-icon">
            <img src="assets\images\blog-card-1.png">
          </div>
          <h3 class="blog-post-title">Gestión de visitas</h3>
          <p class="blog-post-text">Implementación de procesos para verificación de visitas a una determinada ubicación, generar un codigo unico para cada visita.</p>

        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
        <div class="blog-post-card">
          <div class="blog-post-icon mb-4">
            <img src="assets\images\blog-card-2.png">
          </div>
          <h3 class="blog-post-title">Tracking de documentación</h3>
            <h4 class="blog-post-subtitle"></h4>
          <p class="blog-post-text mb-4">Sistema para la deteccion del flujo o ubicación
            de como va el proceso con dicha documentación.
          </p>

        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
        <div class="blog-post-card">
          <div class="blog-post-icon">
            <img src="assets\images\blog-card-3.png">
          </div>
          <h3 class="blog-post-title">Sistema Accesos</h3>
          <p class="blog-post-text">Implemetación de sistemas de control de acceso para colaboradores, llevar un registro
            de todo el personal que egresa e ingresa en una institución.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
