<div class="services-sales-section" data-aos="fade-up"  data-aos-duration="3000">
  <div class="container services-container">
    <div class="col-lg-6 services-header-img-section padding-0">
      <img src="assets\images\services-sales-header.png">
    </div>
    <div class="col-lg-5 offset-lg-1 services-title-section">
      <p class="services-subtitle">Api REST  </p>
      <h2 class="services-title">SISTEMA INVENTARIO</h2>
      <p class="services-text">Api creada utilizando las tecnologias de NODE JS, GRAPH QL, MONGOOSE,<br>
      APOLLO-SERVER, JWT, con la finalidad de dar un mejor performance a nuestra herramienta.</p>
      <div class="learn-more-btn-section">
        <a class="nav-link learn-more-btn btn-invert" href="https://github.com/Josue-dev/sistema-graphql" target="_blank">View code</a>
      </div>
    </div>
  </div>
</div>
<div class="header" data-aos="fade-up"  data-aos-duration="3000">
  <div class="container header-container">
    <div class="col-lg-5 offset-lg-1 header-title-section">
      <p class="header-subtitle">Sistema Inventario</p>
      <h1 class="header-title">ABC</h1>
      <p class="header-title-text">Sistema basado en la tecnologia PHP puro, Javascript, jquery, select2 entre otras mas, e implementando buenas practivas (MVC).<br>
      </p>
      <div class="learn-more-btn-section">
        <a class="nav-link learn-more-btn btn-invert" href="https://github.com/Josue-dev/Abc" target="_blank">View code</a>
      </div>
    </div>
    <div class="col-lg-6 header-img-section">
      <img src="assets\images\ABC.png">
    </div>
  </div>
</div>
<div class="header" data-aos="fade-up"  data-aos-duration="3000">
  <div class="container header-container">
    <div class="col-lg-6 header-img-section">
      <img src="assets\images\blog-card-2.png">
    </div>
    <div class="col-lg-5 offset-lg-1 header-title-section">
      <p class="header-subtitle">Sistema</p>
      <h1 class="header-title">Gestión de proyectos</h1>
      <p class="header-title-text">Sistema basado en la necesidad de gestionar los proyectos de forma local de un usuario, utilizando
        las tecnologias de node js, pug, sequelize, mysql, css, axios, javascript.<br>
      </p>
      <div class="learn-more-btn-section">
        <a class="nav-link learn-more-btn btn-invert" href="https://github.com/Josue-dev/tareas" target="_blank">View code</a>
      </div>
    </div>

  </div>
</div>

<div class="header">
  <div class="container header-container" data-aos="fade-up"  data-aos-duration="3000">
    <div class="col-lg-5 offset-lg-1 header-title-section">
      <p class="header-subtitle">Landing page</p>
      <h1 class="header-title"></h1>
      <p class="header-title-text">SPA basada en angular, Typescript con conexion a Firebase.<br>
      </p>
      <div class="learn-more-btn-section">
        <a class="nav-link learn-more-btn btn-invert" href="https://josue19688.github.io/app" target="_blank">View</a>
      </div>
    </div>
    <div class="col-lg-6 header-img-section">
      <img src="assets\images\blog-card-1.png">
    </div>
  </div>
</div>
<div class="header" data-aos="fade-up"  data-aos-duration="3000">
  <div class="container header-container">
    <div class="col-lg-6 header-img-section">
      <img src="assets\images\blog-card-2.png">
    </div>
    <div class="col-lg-5 offset-lg-1 header-title-section">
      <p class="header-subtitle">Plantilla</p>
      <h1 class="header-title">pequeño Framework</h1>
      <p class="header-title-text">Sistema basado en la necesidad de gestionar proyectos de forma mas rapida y agil,
        creando asi una plantilla para realizar esto de forma mas rapida y eficiencia.<br>
      </p>
      <div class="learn-more-btn-section">
        <a class="nav-link learn-more-btn btn-invert" href="https://github.com/Josue19688/plantilla-php" target="_blank">View code</a>
      </div>
    </div>

  </div>
</div>
<app-colaboraciones></app-colaboraciones>
