<div class="header" data-aos="fade-up">
  <div class="container header-container">
    <div class="col-lg-6 header-img-section">
      <img src="assets\images\header.png">
    </div>
    <div class="col-lg-5 offset-lg-1 header-title-section">
      <p class="header-subtitle">Estudiante Ingenieria en sistemas</p>
      <h1 class="header-title">Advin Josué Vásquez Latín</h1>
      <p class="header-title-text">Soy una persona responsable, organizado, autodidactico, innovador, pro-activo,
        caracterizado por siempre estar a la vanguardia de la tecnologia que surge dia a dia.<br>

      </p>

    </div>
  </div>
</div>
<app-conocimientos></app-conocimientos>
