    <div class="footer-section" data-aos="fade-up"  data-aos-duration="3000">
        <div class="footer-section-bg-graphics">
            <img src="assets\images\footer-section-bg.png">
        </div>
            <!-- Footer Column 1 -->
        <div class="container footer-container">
            <div class="col-lg-3 col-md-6 footer-logo">
            <img src="assets\images\jnueva2.png">
            <p class="footer-susection-text">“Las grandes oportunidades nacen de haber sabido aprovechar las pequeñas”. Bill Gates, cofundador de la empresa de software Microsoft.</p>
            </div>

                    <!-- Footer Column 2 -->
            <div class="col-lg-3 col-md-6 footer-subsection">
            <h3 class="footer-subsection-title">Contactanos</h3>
            <ul class="footer-subsection-list">
                <li>zona 12 <br>Guatemala</li>
                <li><a href="https://wa.me/+50230510756" target="_blank">+502 30510756</a></li>
                <li><a href="mailto:advinjosuev899@gmail.com" target="_blank" title="Josue vasquez">advinjosuev899@gmail.com</a></li>
            </ul>
            </div>
                    <!-- Footer Column 3 -->
            <div class="col-lg-3 col-md-6 footer-subsection">
            <div class="footer-subsection-2-2">
                <h3 class="footer-subsection-title">Socials</h3>
                <div class="footer-social-media-icons-section">
                <a href="https://wa.me/+50230510756" target="_blank" class="footer-social-media-icon"><i class="fa fa-whatsapp"></i></a>
                <a href="https://t.me/devsdgc" target="_blank" class="footer-social-media-icon"><i class="fa fa-telegram"></i></a>
                <a href="https://github.com/Josue19688" target="_blank" class="footer-social-media-icon"><i class="fa fa-github"></i></a>

                </div>
            </div>
            </div>
        </div>
            <!-- FOOTER CREDITS -->
        <div class="container footer-credits">
            <p>&copy; {{anio}} <a href="mailto:advinjosuev899@gmail.com" target="_blank" title="Josue vasquez">Advin Josue Vasquez Latin</a>&trade;. All Rights Reserved.</p>
        </div>
    </div>
